.Navigation-bar{
    background-color: rgb(41, 40, 40);
    width: min-content;
    height: 100%;
    position: relative;
}
li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.Navigation-bar ul{
    margin: 0;
}
li{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
li:hover{
    background-color: #282c34;
}
.App-header{
    background-color: #282c34;
    color: white;
    padding: 10px;
}
.main{
    display: flex;
    height: 100vh;
}
.active{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.content{
    flex-grow: 1;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px;
}