.main-device{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
table{
    color: white;
    padding: 10px;
}
.devices-list-table thead{
    background-color: rgb(32, 32, 32);
}
.devices-list-table td{
    /* border: 1px solid white; */
    color: white;
    padding: 10px 4em;
}
.devices-list-table td button{
    /* border: 1px solid white; */
    color: rgb(255, 255, 255);
    padding: 2px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0);
}
.devices-list-table td button:hover{
    /* border: 1px solid white; */
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    transition: 400ms;
    
}
.devices-list-table-heading th{
    /* border: 1px solid white; */
    color: white;
    padding: 10px 4em;
}
.devices-list-table tr:hover{
    background-color: rgb(109, 108, 108);
    cursor: pointer;
}
.device-name-link {
    color: rgb(251, 255, 0);
    /* text-decoration: none; */
}
.tr-data{
    background-color: rgb(73, 73, 73);
}

.outer-div{
    background-color: rgb(49, 49, 49);
    height: 100%;
    /* width = fullwidth - .natigationbar class width */
    /* width: calc() */
}

.connecteddevicesHeading{
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20px;
    color: white;
    width: 100%;
}

