.device-information{
    width: 100%;
    flex-grow: 1;
    padding: 20px;
}
.device-details {
  box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.1);
}
.device-data{
    display: flex;
}
.device-info {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.firewall-rules-outerdiv{
    display: flex;
    flex-direction: column;
    
}

.firewall-rules{
    margin-top: 10px;
    margin-left: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.firewall-rules button{
    
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 12px;
}

.firewall-rules-buttons{
    display: flex;
    flex-direction: row;
}

.firewall-rules-outerdiv table tr th{
    padding: 5px;
    background-color: rgb(0, 0, 0);
}